import { HomePageClient } from '@/app/[lang]/page.client'
import { t } from '@/lib/i18n'

export default async function Homepage({
  params,
}: Readonly<{ params: Promise<{ lang: string }> }>) {
  const { lang } = await params

  return (
    <main>
      <p>Locale: {t('locale', lang)}</p>
      <p>Greeting: {t('greeting', { name: 'aa' }, lang)}</p>
      <HomePageClient />
    </main>
  )
}
