@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fumadocs/base-ui/css/preset.css';
@import '@fumadocs/base-ui/css/shadcn.css';

@import './theme.css';
@source '../node_modules/@fumadocs/base-ui/dist/components/**/*.js';

@theme inline {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
  }

  @keyframes accordion-up {
    from {
      height: var(
        --radix-accordion-content-height,
        var(--accordion-panel-height, auto)
      );
    }
    to {
      height: 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in oklab, var(--color-ring) 50%, transparent);
    text-underline-offset: 4px;

    ::selection {
      background-color: var(--color-accent);
      color: var(--color-accent-foreground);
    }
  }
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;

  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
