@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import '@yuki/ui/tailwind.css';

@source '../../packages/ui/src/**/*.tsx';

@theme inline {
  --color-fd-secondary: var(--color-muted);
  --color-fd-secondary-foreground: var(--color-muted-foreground);
}
