'use client'

import { useTranslation } from '@/hooks/use-translation'

export const HomePageClient = () => {
  const { t } = useTranslation()

  return (
    <div>
      <p>{t('nested.greeting', { name: 'Client' })}</p>
    </div>
  )
}
